*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.qr-container{
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  background-color: white;
}
h2{
  text-align: center;
  margin-bottom: 10px;
}

#qr-input{
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  padding: 20px;
}
#qr-button{
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  background-color: green;
  color: white;
  margin-bottom: 10px;
}
#qr-img{
  display: block;
  width: 50%;
  margin: 0 auto;
}